.DS_Store
/.build
/Packages
Examples/.build
Examples/Package.resolved
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
